################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mfuser
/mfuser/obj
/.vs/ProjectEvaluation
/mfuser/bin/Debug/net9.0-windows7.0
